.navbar {
    min-height: 3.25rem;
    background: #EEEEEE;
}

a.navbar-item,
a.navbar-item,
a.navbar-link {
    background-color: transparent;
    color: #000000;
}

a.navbar-link.is-active:not(:hover) {
    background-color: transparent;
    color: #FFFFFF;
}

.footer-section {
	height: 100px;
}

div.column.home-columns {
	height: 300px;
	text-align: center;
}