.navbar {
    min-height: 3.25rem;
    background: #0F2F45;
}

a.navbar-item,
a.navbar-item,
a.navbar-link {
    background-color: transparent;
    color: #FFFFFF;
}

a.navbar-link.is-active:not(:hover) {
    background-color: transparent;
    color: #FFFFFF;
}